{% extends "base/base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="container-fluid offset-md-1 col-md-10 mb-3">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Kullanıcı Listesi</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <a class="btn btn-warning" href="{% url 'users' %}"><i class="fas fa-arrow-left"></i></a>
                    <form action="{% url 'users' %}"
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" style="float:right">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Kullanıcı adı bilgisi giriniz.."
                                aria-label="Search" aria-describedby="basic-addon2" name="search">
                            <div class="input-group-append">
                                <button class="btn btn-warning" type="submit" >
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 69px;">Kullanıcı Adı</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 69px;">isim Soyisim</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 99px;">Mail</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 53px;">Kayıt Türü</th>
                                </tr>
                            </thead>
                            {% if users %}
                            <tbody> 
                                {% for user in users %} 
                                    {% if request.user.username != user.username%}                     
                                        <tr role="row" class="odd">
                                            <td class="sorting_1"><a href="{% url 'show_profile' user.id %}">{{user.username}}</a></td>
                                            <td>{{user.first_name}} {{user.last_name}}</td>
                                            <td>{{user.email}}</td>
                                            {% if user.driverprofile %}
                                                <td>{{ 'driver' }}</td>
                                            {% else %}
                                                <td>{{'company'}}</td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            {% else %}
                                <p>No polls are available.</p>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}