{% extends 'base/base.html' %}
{% block title %}İlanlarım{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">İlanlarım</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div id="dataTable_filter" class="dataTables_filter">
                                <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                            </div>
                        </div>
                    </div>
                    {% if my_ad %}
                        <div class="row">
                            <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 69px;">Başlık</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 99px;">Yayınlanma Tarihi</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 53px;">Nereden</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 53px;">Nereye</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr><th rowspan="1" colspan="1">Başlık</th><th rowspan="1" colspan="1">Yayınlanma Tarihi</th><th rowspan="1" colspan="1">Nereden</th><th rowspan="1" colspan="1">Nereye</th></tr>
                            </tfoot>
                            <tbody> 
                                {% for ad in my_ad %}                      
                                        <tr role="row" class="odd">
                                            <td class="sorting_1"><a href="{% url 'detail_ad' ad.id %}">Basliik</a></td>
                                            <td>{{  ad.publish_date }} </td>
                                            <td>{{  ad.from_city }} </td>
                                            <td>{{  ad.to_city }} </td>
                                        </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p>No polls are available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}