{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid">
    <!-- DataTales Example -->
    {% if applist %} 
        <div class="card shadow mb-4 offset-md-1 col-md-10">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Başvurularım Listesi</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <a class="btn btn-warning" href="{% url 'my_recourse' %}"><i class="fas fa-arrow-left"></i></a>
                        <form action="{% url 'my_recourse' %}"
                            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" style="float:right">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="İlan başlığını giriniz.."
                                    aria-label="Search" aria-describedby="basic-addon2" name="search">
                                <div class="input-group-append">
                                    <button class="btn btn-warning" type="submit" >
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 69px;">İlan Başlığı:</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 53px;">Başvurulma Tarihi</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 99px;">Durum</th>
                                        </tr>
                                    </thead>
                                <tbody> 
                                    {% for app in applist %} 
                                        {% for ad in adlist  %} 
                                            {% if app.add_id == ad.id %}
                                                <tr role="row" class="odd">                                                
                                                    <td class="sorting_1"><a href={% url 'detail_ad' ad.id %}>{{ad.ad_title}}</a></td>
                                                    <td>{{app.app_date}}</td>
                                                    {% if app.app_state == 0 %}
                                                        <td>İnceleniyor <i class="far fa-meh"></i></td>                                         
                                                    {% elif app.app_state == 1 %}
                                                        <td>Onaylandı <i class="far fa-smile"></i></td>
                                                    {% else %}
                                                        <td>Reddedildi <i class="far fa-frown"></i></td>
                                                    {% endif %}
                                                </tr>
                                            {% endif %}                  
                                        {% endfor %} 
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <div class="offset-md-4 col-md-6 d-felx" style="margin-top:120px;">
                <h2><i class="fas fa-clipboard-list"></i> Henüz Başvuru Yapmadınız.</h2>
            </div>
        {% endif %}
</div>

{% endblock %}