{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="offset-md-1 col-md-10 mb-3" id="ilan">
                    <!-- <form action="{% url 'edit_ad' dltId %}" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit">

                    </form> -->
                    <form method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                        <div class="card shadow mb-4 border-secondary">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h4 class="mb-0"><a>İlan Ekle</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6 text-secondary" style="display:flex">
                                            <h6 class="mb-0 mt-2">Başlık</h6>
                                            {% render_field form.ad_title class="form-control input-transparent pl-3" %}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="heigth:200px">
                                        <div class="col-sm-6 align-center" style="width:250px; heigth:175px;">
                                            <img src="https://images.unsplash.com/photo-1597386983962-7859216d7543?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-sm-6 text-secondary">
                                            <h6 class="mb-0">Açıklama</h6>
                                            {% render_field form.ad_explain class="form-control input-transparent pl-3" style="rows:5"%}
                                        </div>  
                                    </div>
                                    <hr>
                                    <div class="row">                                   
                                        <div class="col-sm-6 text-secondary">
                                            <h6 class="mb-0">Son Tarih</h6>
                                            <input type="date" value="{{ last_date }}" name="last_date" class="form-control input-transparent pl-3"/>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-6 text-secondary">
                                            <h6 class="mb-0">Nereden</h6>
                                            {% render_field form.from_city class="form-control input-transparent pl-3" %}
                                        </div>
                                        <div class="col-sm-6 text-secondary">
                                            <h6 class="mb-0">Nereye</h6>
                                            {% render_field form.to_city class="form-control input-transparent pl-3" %}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-6 text-secondary">
                                            <h6 class="mb-0">Toplam Ağırlık</h6>
                                            {% render_field form.total_weight class="form-control input-transparent pl-3" %}
                                        </div>
                                        <div class="col-sm-6 text-secondary">
                                            <h6 class="mb-0">Toplam Hacim</h6>
                                            {% render_field form.total_volume class="form-control input-transparent pl-3" %}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <h6 class="mb-0">İligli Lisanlar</h6>
                                        <div class="col-sm-6 text-secondary">
                                            {% render_field form.licenses %}
                                        </div>
                                    </div>
                                    <hr>
                                    <button class="btn btn-warning" type="submit">Güncelle</button>
                                    <a class="btn btn-secondary" href="{% url 'detail_ad' dltId %}">İptal Et</a>
                                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal" style="float:right">Sil</button>
                                </div>
                            </div>                       
                        </div>
                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{form.ad_title}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Ilan silinecek. Onaylıyor musunuz?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a class="btn btn-danger" href="{% url 'delete_ad' dltId %}">Sil</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
{% endblock %}